<ion-view title="{{vm.title}}">
    <ion-nav-buttons side="primary">
        <button class="button" ng-click="vm.toggleDragFix()" >
            Turn {{ vm.dragFixed ? 'off' : 'on' }} drag handler fix
        </button>
    </ion-nav-buttons>
    <ion-content class="full-height" overflow-scroll="true">
            <div ng-repeat="item in vm.items">
                <div class="card">
                    <div class="item item-text-wrap">
                        Item {{ item.id }}
                    </div>
                </div>
            </div>
    </ion-content>
</ion-view>
