<ion-view>
    <ion-nav-buttons side="primary">
        <button class="button" ng-click="vm.toggleDragFix()" >
            Turn {{ vm.dragFixed ? 'off' : 'on' }} drag handler fix
        </button>
    </ion-nav-buttons>

    <ion-tabs class="tabs-icon-top tabs-positive">

        <ion-tab title="ion-list" icon="ion-information" ui-sref="tabs.ionList">
            <ion-nav-view name="ion-list-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="no ion-list" icon="ion-document-text" ui-sref="tabs.div">
            <ion-nav-view name="div-tab"></ion-nav-view>
        </ion-tab>

    </ion-tabs>
</ion-view>
